<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DASHBOARD-SUSERCA</title>
    <link rel="stylesheet" href="../assets/output.css" />
  </head>

  <body class="min-h-screen bg-zinc-200 flex flex-col">
    <header class="bg-white flex flex-row">
      <div class="flex flex-row p-2">
        <img
          src="../assets/icons/general/logo.jpg"
          alt="logo SUSERCA"
          heigt="90"
          width="90"
          class=""
        />
        <div class="pl-2 pt-1">
          <h1 class="text-green-800 font-bold text-5xl">SUSERCA</h1>
          <p class="text-green-800 text-xs pl-1.5">
            Suministros y Servicios de Occidente
          </p>
        </div>
      </div>

      <div class="">
        <h1 class="text-black font-bold text-6xl">Dashboard</h1>
      </div>

      <div class="">
        <img
          src="../assets/icons/dashboard/user-solid.jpg"
          alt="User"
          height="30"
          width="30"
          class="rounded-full"
        />
        <img
          src="../assets/icons/dashboard/gear-solid.jpg"
          alt="Config"
          height="30"
          width="30"
          class="rounded-full rotation-10"
        />
      </div>
    </header>

    <main></main>
  </body>
</html>