<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <title>SUSERCA DASHBOARD</title>
        <link rel="stylesheet" href="../assets/output.css">

    </head>

    <body class="min-h-screen bg-zinc-200 flex flex-col">

        <header class="bg-white flex flex-row gap-2 min-w-full justify-between">

            <div class="flex flex-row">
                <a href="../views/dashboard.html" class="flex flex-row">
                    <div>
                        <img src="../assets/icons/general/logo.jpg" alt="logo SUSERCA" height="90" width="90" class=" p-1">
                    </div>
                    <div>
                        <h1 class=" text-green-800 font-bold text-5xl">SUSERCA</h1>
                        <p class=" text-green-800  text-xs pl-2">Suministros y Servicios de Occidente</p>
                    </div>
                </a>
                <div class="flex items-center font-bold text-3xl pl-24">
                    <p>Dashboard</p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="flex items-center">
                    <img src="../assets/icons/dashboard/settings.png" alt="settings engranaje" height="50" width="50">
                </div>
                <div class="flex items-center pr-2">
                    <img src="../assets/icons/dashboard/user.png" alt="user icon" height="50" width="50">
                </div>
            </div>

        </header>

        <main class="h-screen">
            <div class="bg-green-800 h-full max-w-76">

            </div>
        </main>
            
    </body>

    </html>