<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <title>SUSERCA DASHBOARD</title>
        <link rel="stylesheet" href="../assets/output.css">

    </head>

    <body class="min-h-screen bg-zinc-200 flex flex-col">

        <header class="bg-white flex flex-row gap-2 min-w-full justify-between">

            <div class="flex flex-row">
                <a href="../views/dashboard.html" class="flex flex-row">
                    <div>
                        <img src="../assets/icons/general/logo.jpg" alt="logo SUSERCA" height="90" width="90" class=" p-1">
                    </div>
                    <div>
                        <h1 class=" text-green-800 font-bold text-5xl">SUSERCA</h1>
                        <p class=" text-green-800  text-xs pl-2">Suministros y Servicios de Occidente</p>
                    </div>
                </a>
                <div class="flex items-center font-bold text-3xl pl-24">
                    <p>Dashboard</p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="flex items-center">
                    <img src="../assets/icons/header/settings.png" alt="settings engranaje" height="50" width="50">
                </div>
                <div class="flex items-center pr-2">
                    <img src="../assets/icons/header/user.png" alt="user icon" height="50" width="50">
                </div>
            </div>

        </header>

        <main class="flex-1 flex">
            <div class="bg-green-800 w-76 flex flex-col gap-2.5">

                <button class="ml-2.5 mt-2.5 mr-58 p-2.5 border border-white rounded-xl shadow-lg hover:border-orange-400/90 hover:bg-orange-500/90 hover:cursor-pointer transition">
                    <div class="">
                        <img src="../assets/icons/dashboard/toggle.png" alt="toggle icon" class="" height="75" width="75">
                    </div>
                </button>
                
                <button class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition">
                    <div class="flex flex-row items-center">
                        <img src="../assets/icons/dashboard/dashboard.png" alt="dashboard icon" class="ml-1.25 p-1.25 h-15 w-15">
                        <p class="pl-5 text-2xl pr-24">Dashboard</p>
                    </div>
                </button>

                <button class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition">
                    <div class="flex flex-row items-center">
                        <img src="../assets/icons/dashboard/inventario.png" alt="dashboard icon" class="ml-1.25 p-1.25 h-15 w-15">
                        <p class="pl-5 text-2xl pr-24">Inventario</p>
                    </div>
                </button>

                <button class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition">
                    <div class="flex flex-row items-center">
                        <img src="../assets/icons/dashboard/clientes.png" alt="dashboard icon" class="ml-1.25 p-1.25 h-15 w-15">
                        <p class="pl-5 text-2xl">Clientes</p>
                    </div>
                </button>

                <button class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition">
                    <div class="flex flex-row items-center">
                        <img src="../assets/icons/dashboard/proveedores.png" alt="dashboard icon" class="ml-1.25 p-1.25 h-15 w-15">
                        <p class="pl-5 text-2xl pr-24">Proveedores</p>
                    </div>
                </button>

                <button class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition">
                    <div class="flex flex-row items-center">
                        <img src="../assets/icons/dashboard/finanzas.png" alt="dashboard icon" class="ml-1.25 p-1.25 h-15 w-15">
                        <p class="pl-5 text-2xl pr-24">Finanzas</p>
                    </div>
                </button>

                <button class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition">
                    <div class="flex flex-row items-center">
                        <img src="../assets/icons/dashboard/usuarios.png" alt="dashboard icon" class="ml-1.25 p-1.25 h-15 w-15">
                        <p class="pl-5 text-2xl pr-24">Usuarios</p>
                    </div>
                </button>

                <button class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition">
                    <div class="flex flex-row items-center">
                        <img src="../assets/icons/dashboard/ayuda.png" alt="dashboard icon" class="ml-1.25 p-1.25 h-15 w-15">
                        <p class="pl-5 text-2xl pr-24">Ayuda</p>
                    </div>
                </button>

            </div>
        </main>
            
    </body>

    </html>