@import "tailwindcss";

@theme {

    /* Breakpoints de anchura */
    --breakpoint-pantallaSmW: 800px;
    --breakpoint-pantallaMdW: 1080px;
    --breakpoint-pantallaLgW: 1360px;
    --breakpoint-pantallaXlW: 1640px;
    --breakpoint-pantalla2xlW: 1920px;

    /* Breakpoints de altura */
    --breakpoint-pantallaSmH: 600px;
    --breakpoint-pantallaMdH: 720px;
    --breakpoint-pantallaLgH: 840px;
    --breakpoint-pantallaXlH: 960px;
    --breakpoint-pantalla2xlH: 1080px;

}

@layer components {
    .card {
        @apply bg-white rounded-lg text-black font-bold border-2 border-white text-3xl p-10 shadow-lg flex flex-col items-center justify-center;
    }
}
