<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SUSERCA PROVEEDORES</title>
    <link rel="stylesheet" href="../assets/output.css" />
    <link rel="stylesheet" href="../assets/custom.css" />
    <script src="../scripts/authGuard.js" defer></script>
    <script src="../scripts/sidebar.js" defer></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/proveedores.js" defer></script>
  </head>

  <body class="min-h-screen bg-zinc-200 flex flex-col">
    <header
      class="fixed top-0 left-0 w-full z-50 bg-white flex flex-row gap-2 min-w-full justify-between"
    >
      <div class="flex flex-row">
        <a href="../views/dashboard.html" class="flex flex-row">
          <div>
            <img
              src="../assets/icons/general/logo.jpg"
              alt="logo SUSERCA"
              height="90"
              width="90"
              class="p-1"
            />
          </div>
          <div>
            <h1 class="text-green-800 font-bold text-5xl">SUSERCA</h1>
            <p class="text-green-800 text-xs pl-2">
              Suministros y Servicios de Occidente
            </p>
          </div>
        </a>
        <div class="flex items-center font-bold text-3xl pl-24">
          <p>Proveedores</p>
        </div>
      </div>
      <div class="flex flex-row gap-5">
        <button id="settingsicon" class="hover:cursor-pointer">
          <div class="flex items-center">
            <img
              src="../assets/icons/header/settings.png"
              alt="settings engranaje"
              height="50"
              width="50"
            />
          </div>
        </button>
        <div class="flex items-center pr-2">
          <button id="usericon" class="hover:cursor-pointer">
            <img
              src="../assets/icons/header/user.png"
              alt="user icon"
              height="50"
              width="50"
            />
          </button>
        </div>
      </div>
    </header>

    <div
      id="sidebar"
      class="fixed left-0 top-19 h-full bg-green-800 flex flex-col gap-2.5 transition-all duration-300"
    >
      <button
        type="button"
        onclick="toggleSidebar()"
        class="ml-2.5 mt-2.5 pl-1.25"
      >
        <div
          class="p-2.5 w-16 border border-white rounded-xl shadow-lg hover:border-orange-400/90 hover:bg-orange-500/90 hover:cursor-pointer transition"
        >
          <img
            src="../assets/icons/sideBar/toggle.png"
            alt="toggle icon"
            class="w-10 h-10 flex-shrink-0"
          />
        </div>
      </button>

      <button
        onclick="window.location.href='../views/dashboard.html'"
        target="_self"
        class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition"
      >
        <div class="flex flex-row items-center">
          <img
            src="../assets/icons/sideBar/dashboard.png"
            alt="dashboard icon"
            class="ml-1.25 p-1.25 h-15 w-15"
          />
          <p class="pl-5 text-2xl pr-24 sidebar-text">Dashboard</p>
        </div>
      </button>

      <button
        onclick="window.location.href='../views/inventario.html'"
        target="_self"
        class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition"
      >
        <div class="flex flex-row items-center">
          <img
            src="../assets/icons/sideBar/inventario.png"
            alt="dashboard icon"
            class="ml-1.25 p-1.25 h-15 w-15"
          />
          <p class="pl-5 text-2xl pr-24 sidebar-text">Inventario</p>
        </div>
      </button>

      <button
        onclick="window.location.href='../views/clientes.html'"
        target="_self"
        class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition"
      >
        <div class="flex flex-row items-center">
          <img
            src="../assets/icons/sideBar/clientes.png"
            alt="dashboard icon"
            class="ml-1.25 p-1.25 h-15 w-15"
          />
          <p class="pl-5 text-2xl sidebar-text">Clientes</p>
        </div>
      </button>

      <button
        target="_self"
        class="border-4 border-orange-500 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition"
      >
        <div class="flex flex-row items-center">
          <img
            src="../assets/icons/sideBar/proveedores.png"
            alt="dashboard icon"
            class="ml-1.25 p-1.25 h-15 w-15"
          />
          <p class="pl-5 text-2xl pr-24 sidebar-text">Proveedores</p>
        </div>
      </button>

      <button
        onclick="window.location.href='../views/finanzas.html'"
        target="_self"
        class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition"
      >
        <div class="flex flex-row items-center">
          <img
            src="../assets/icons/sideBar/finanzas.png"
            alt="dashboard icon"
            class="ml-1.25 p-1.25 h-15 w-15"
          />
          <p class="pl-5 text-2xl pr-24 sidebar-text">Finanzas</p>
        </div>
      </button>

      <button
        onclick="showUsersWindow(localStorage.getItem('user_id'))"
        target="_self"
        class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition"
      >
        <div class="flex flex-row items-center">
          <img
            src="../assets/icons/sideBar/usuarios.png"
            alt="dashboard icon"
            class="ml-1.25 p-1.25 h-15 w-15"
          />
          <p class="pl-5 text-2xl pr-24 sidebar-text">Usuarios</p>
        </div>
      </button>

      <button
        onclick="window.location.href='../views/ayuda.html'"
        target="_self"
        class="border-2 border-green-700 rounded-xl mx-2.5 text-white font-bold shadow-lg hover:bg-orange-500/90 hover:border-orange-400/90 hover:cursor-pointer transition"
      >
        <div class="flex flex-row items-center">
          <img
            src="../assets/icons/sideBar/ayuda.png"
            alt="dashboard icon"
            class="ml-1.25 p-1.25 h-15 w-15"
          />
          <p class="pl-5 text-2xl pr-24 sidebar-text">Ayuda</p>
        </div>
      </button>
    </div>

    <main
      id="main-content"
      class="mt-16 h-full overflow-auto flex flex-col justify-center items-center transition-all duration-300 px-4 py-4"
    >
      <div
        class="bg-white w-full rounded-xl mt-4 pt-4 pb-4 mb-3 px-4 max-w-6xl"
        style="box-sizing: border-box"
      >
        <form class="w-full">
          <div class="flex items-end gap-2">
            <div class="flex-1">
              <h1 class="pl-2 text-base">Buscar Proveedor</h1>
              <input
                type="text"
                placeholder="Razon Social, RIF..."
                class="border border-black bg-gray-50 shadow-md rounded-full pl-2 align-middle w-full"
              />
            </div>
            <button
              type="reset"
              class="bg-gray-500 shadow-md text-white rounded-full px-4 py-1 font-bold hover:bg-gray-700 hover:cursor-pointer transition"
            >
              Limpiar Filtros
            </button>
            <button
              onclick="document.getElementById('add-modal').classList.remove('hidden')"
              type="button"
              class="bg-green-700 shadow-md text-white rounded-full px-4 py-1 font-bold hover:bg-green-800 hover:cursor-pointer transition"
            >
              + Agregar Proveedor
            </button>
          </div>
        </form>
      </div>
      <div class="w-full max-w-6xl mx-auto flex justify-start mt-2">
        <button
          class="bg-green-700 border border-green-700 text-white rounded-full px-15 py-1 font-bold shadow-md hover:bg-green-800 hover:cursor-pointer transition"
        >
          Imprimir Reporte
        </button>
      </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10 py-6 max-w-6xl w-full mx-auto"
      >
        <div
          class="bg-white rounded-lg shadow-md overflow-hidden border border-gray-200"
        >
          <!-- Contenedor de Imagen -->
          <div
            class="w-full h-35 bg-gray-200 flex items-center justify-center border-b border-gray-300"
          >
            <img
              src="../assets/img/proveedores/proveedor.jpg"
              alt="Inventario icon"
              class="w-full h-full object-fill rounded-t-lg"
            />
          </div>
          <!-- Información del producto -->
          <div class="p-4">
            <h3 class="text-lg font-medium text-gray-800 mb-1">Razon Social</h3>
            <p class="text-base font-semibold text-gray-900 mt-2">RIF</p>

            <!-- Acciones abajo a la derecha -->
            <div class="flex justify-end gap-3 mt-4">
              <!-- Icono de Editar -->
              <button
                class="hover:cursor-pointer"
                onclick="document.getElementById('edit-modal').classList.remove('hidden')"
              >
                <img
                  class="size-6"
                  src="../assets/icons/general/edit.png"
                  alt="edit"
                />
              </button>
              <!-- Icono de Eliminar -->
              <button
                class="hover:cursor-pointer"
                onclick="document.getElementById('delete-popup').classList.remove('hidden')"
              >
                <img
                  class="size-7"
                  src="../assets/icons/general/delete.png"
                  alt="delete"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--Pop up de usuario-->
      <div id="user-modal" class="absolute right-3.5 top-20 hidden">
        <div class="bg-zinc-400 rounded-xl flex flex-col gap-2 p-2 text-xl">
          <button
            class="text-white px-4 py-2 rounded-full bg-green-800 border border-green-700 hover:bg-orange-400 hover:cursor-pointer transition"
          >
            Informacion de Usuario
          </button>
          <button
            onclick="window.logout()"
            target="_self"
            class="text-white px-4 py-2 rounded-full bg-green-800 border border-green-700 hover:bg-orange-400 hover:cursor-pointer transition"
          >
            Cerrar Sesion
          </button>
          <button
            onclick="window.electronAPI.closeApp()"
            class="text-white px-4 py-2 rounded-full bg-green-800 border border-green-700 hover:bg-orange-400 hover:cursor-pointer transition"
          >
            Salir
          </button>
        </div>
      </div>

      <!--Pop up de settings-->
      <div id="settings-modal" class="absolute right-21 top-20 hidden">
        <div class="bg-zinc-400 rounded-xl flex flex-col gap-2 p-2 text-xl">
          <button
            onclick=""
            class="text-white px-4 py-2 rounded-full bg-green-800 border border-green-700 hover:bg-orange-400 hover:cursor-pointer transition"
          >
            Generar Reporte
          </button>
          <button
            onclick=""
            target="_self"
            class="text-white px-4 py-2 rounded-full bg-green-800 border border-green-700 hover:bg-orange-400 hover:cursor-pointer transition"
          >
            Cambiar Contraseña
          </button>
        </div>
      </div>

      <div
        id="add-modal"
        class="fixed inset-0 bg-black/60 flex items-center justify-center z-50 hidden"
      >
        <div
          class="bg-white rounded-xl px-4 pb-4 shadow-lg max-w-sm w-full relative"
        >
          <h1 class="text-3xl font-bold my-4">Agregar Proveedor</h1>
          <div class="bg-zinc-200 rounded-xl py-3 px-1.5">
            <form class="flex flex-col gap-4">
              <div>
                <h1 class="pl-1">Razon social del proveedor</h1>
                <input
                  type="text"
                  name="nombre"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <h1 class="pl-1">RIF</h1>
                <input
                  type="text"
                  name="id"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <h1 class="pl-1">Email</h1>
                <input
                  type="text"
                  name="email"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <h1 class="pl-1">Telefono</h1>
                <input
                  type="text"
                  name="telefono"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <h1 class="pl-1">Direccion</h1>
                <input
                  type="text"
                  name="direccion"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <div class="pl-1 flex flex-row">
                  <h1>Cargar Imagen</h1>
                  <button class="hover:cursor-pointer">
                    <img
                      class="size-6 ml-5 mb-1"
                      src="../assets/icons/general/folder.png"
                      alt="folder"
                    />
                  </button>
                </div>
                <input
                  type="text"
                  class="border border-black shadow-md rounded-full bg-white w-full"
                />
              </div>
              <div class="flex justify-center gap-4 pb-2 my-2">
                <button
                  onclick="document.getElementById('add-modal').classList.add('hidden')"
                  class="px-4 py-2 rounded-full bg-white shadow-md hover:bg-gray-300 hover:cursor-pointer transition"
                >
                  Cancelar
                </button>
                <button
                  onclick="handleCreateProveedor()"
                  class="px-4 py-2 rounded-full bg-green-700 text-white shadow-md hover:bg-green-800 hover:cursor-pointer transition"
                >
                  Aceptar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div
        id="edit-modal"
        class="fixed inset-0 bg-black/60 flex items-center justify-center z-50 hidden"
      >
        <div
          class="bg-white rounded-xl px-4 pb-4 shadow-lg max-w-sm w-full relative"
        >
          <h1 class="text-3xl font-bold my-4">Editar Proveedor</h1>
          <div class="bg-zinc-200 rounded-xl py-3 px-1.5">
            <form class="flex flex-col gap-4">
              <div>
                <h1 class="pl-1">Razon social del proveedor</h1>
                <input
                  type="text"
                  name="nombre"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <h1 class="pl-1">RIF</h1>
                <input
                  type="text"
                  name="id"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <h1 class="pl-1">Email</h1>
                <input
                  type="text"
                  name="email"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <h1 class="pl-1">Telefono</h1>
                <input
                  type="text"
                  name="telefono"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <h1 class="pl-1">Direccion</h1>
                <input
                  type="text"
                  name="direccion"
                  class="border border-black shadow-md rounded-full bg-white w-70"
                />
              </div>
              <div>
                <div class="pl-1 flex flex-row">
                  <h1>Cargar Imagen</h1>
                  <button class="hover:cursor-pointer">
                    <img
                      class="size-6 ml-5 mb-1"
                      src="../assets/icons/general/folder.png"
                      alt="folder"
                    />
                  </button>
                </div>
                <input
                  type="text"
                  class="border border-black shadow-md rounded-full bg-white w-full"
                />
              </div>
              <div class="flex justify-center gap-4 pb-2 my-2">
                <button
                  onclick="document.getElementById('edit-modal').classList.add('hidden')"
                  class="px-4 py-2 rounded-full bg-white shadow-md hover:bg-gray-300 hover:cursor-pointer transition"
                >
                  Cancelar
                </button>
                <button
                  onclick="handleUpdateProveedor()"
                  class="px-4 py-2 rounded-full bg-green-700 text-white shadow-md hover:bg-green-800 hover:cursor-pointer transition"
                >
                  Aceptar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        id="delete-popup"
        class="fixed inset-0 bg-black/60 flex items-center justify-center z-50 hidden"
      >
        <div
          class="bg-white rounded-xl px-4 pb-4 shadow-lg max-w-sm w-full relative"
        >
          <h1 class="text-3xl text-center font-bold my-4">Eliminar Proveedor</h1>
          <div class="bg-zinc-200 rounded-xl">
            <h1 class="pt-2 pl-2 text-center text-xl">
              Estas seguro de que deseas eliminar este proveedor?
            </h1>
            <div class="flex justify-center gap-4 pb-2 my-2">
              <button
                onclick="document.getElementById('delete-popup').classList.add('hidden')"
                class="px-4 py-2 rounded-full bg-white hover:bg-gray-300 hover:cursor-pointer transition"
              >
                Cancelar
              </button>
              <button
                onclick=""
                class="px-4 py-2 rounded-full bg-red-600 text-white hover:bg-red-700 hover:cursor-pointer transition"
              >
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="../libs/sweetalert2.all.min.js"></script>
</html>
